.event-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.event-div:hover {
  opacity: 0.5;
}

.modal-sub {
  font-style: italic;
}

.modal-close {
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  border: 1px solid #45b39d;
  background-color: white;
}

.modal-close:hover {
  background-color: #45b39d;
  color: white;
}
